@model WebApplication2.ModelsView.TimeTableView

<tr>
    <td>
        @Model.FlightNumber
    </td>
    <td>
        @Model.Terminal
    </td>
    <td>
        @Model.FromPlace
    </td>
    <td>
        @Model.ToPlace
    </td>
    <td>
        @Model.ExpectedDepartureTime
    </td>
    <td>
        @Model.ExpectedArrivalTime
    </td>
    <td>
       @Model.Airline
    </td>
</tr>
